* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

input {
  width: 200px;
  margin-bottom: 20px;
}

.pais {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.infos {
  display: block;
  margin-left: 15px;
}

img {
  max-height: 75px;
}

.hidden {
  display: none;
}